@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">PrinterCalculator</h1>
    <p>Mira nuestro <a href="https://plasticmonkey3d.ar/">market</a>.</p>
    <p> Tenemos productos coleccionables, consolas retro y deco 3-D.</p>
    <p>Aquí vas a poder presupuestar tu proyecto personalizado, hacer tu pedido y solicitar el envío.</p>
</div>
